body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.header .navbar {
    padding: 1em;
}

.header .bg-white {
  transition: all .5s;
  box-shadow: 0 5px 10px #ddd;
}

.header .bg-transparent {
  transition: all .5s;
}

.jumbotron-custom {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    background-image: url("../images/sakatabg.jpg");
    background-attachment: fixed;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    padding: 5em 2em;
    position: relative;
}

.jumbotron-custom.homepage {
  padding: 16em 2em;
  z-index: 10;
}

.jumbotron-custom .overlay.homepage {
  height: 200%;
}

.jumbotron-custom .overlay {
    position: absolute;
    left: 0;
    height: 101%;
    background-color: #000000ad;
    width: 100%;
    top: 0;
}

.jumbotron-custom .overlay .jumbotron-text-box {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    color: #fff;
    width: 40%;
}

.about {
    background-color: #fff;
    position: relative;
}

.about .about-content {
    width: 100%;
    text-align: center;
    padding: 5em 10em;
}

.about .img-box {
    margin-bottom: 3em;
    text-align: center;
}

.about .img-box .about-img {
    width: 90px;
}

.service {
    height: 100vh;
    background-color: #fcfcfc;
    padding: 10em 0px;
}

.service .card-shadow {
    height: 100%;
    box-shadow: 0px 1px 20px #0000001a;
    background-color: #ffffff;
    padding: 2rem 1rem 3rem;
    transition: 0.5s;
}

.service .badge-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px #0000001a;
    margin: 1em auto;
}

.our-partner {
    height: 100vh;
    background-color: #efefef;
    padding: 5em 0;
}

.our-partner .slick-slide {
    outline: none !important;
}

.our-partner .title-box {
    text-align: center;
    width: 50%;
    margin: 0 auto 5em auto;
}

.maps {
    height: 100vh;
}

.footer {
  background-color: #235d9c;
  padding: 3em;
  text-align: center;
  color: #fff;
}

.bg-secondary {
  background-color: #6c757d54 !important ;
}

.check-price-box {
  width: 100%;
  position: relative;
  margin-top: 3em;
}

.tabs-price .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #007bff ;
  color: #fff !important;
}

.tabs-price .nav-item {
  width: 50%;
  text-align: center;
}

.partner-box{
  text-align: center;
}

.partner-box img {
  margin: auto;
}

.contact-img {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin: 0 14px 10px 0;
}

.contact-img img{
  width: 25px;
}

.slick-arrow {
  display: none !important;
}

.armada-img{
  width: 50%;
}

/* LOADER */

.loader {
  margin: auto;
  border: 5px solid #dcdcdc;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media(max-width: 500px){
  .bg-white .navbar-toggler {
    background-color: #ddd;
  }

  .jumbotron-custom {
    background-position: 50% 50%;
  }
  
  .jumbotron-custom .overlay .jumbotron-text-box {
    width: 100%;
  }

  .about {
    height: auto;
    padding: 2em 0;
  }

  .about .about-content {
    top: unset;
    transform: unset;
    left: unset;
    padding: unset;
    position: relative;
    padding-top: 3em;
  }

  .service {
    height: auto;
    padding: 2em 0;
    margin-top: 2em;
  }

  .our-partner {
    height: auto;
    padding: 5em 0;
  }

  .our-partner .title-box {
    margin: unset;
    width: 100%;
    padding-bottom: 3em;
  }

  .check-price-box {
    width: 100%;
    height: auto;
  }
}
